@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        --color-primary: #6A25DA;
        --color-secondary: #B4E925;
        --color-tertiary: #F4EDFF;
        --color-buttons: #B4E925;
        --color-typography: #161718;
    }
}

.text-secondary {
    color: var(--color-buttons);
}

.text-primary {
    color: var(--color-primary);
}

.border-secondary{
    border-color: var(--color-buttons);
}